<form name="form" role="form" class="form-horizontal form-validation">
    <div class="modal-header">
        <h3 class="modal-title text-center">新增人员</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="col-md-3">
                <label>组</label>
            </div>
            <div class="col-md-9">
                <ui-select multiple ng-model="user.orgs" theme="bootstrap">
                    <ui-select-match placeholder="请选择组...">{{$item.orgName}}
                        <span ng-bind="$select.selected.orgName"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in groups | filter: $select.search">
                        <div ng-bind-html="item.parentName | highlight: $select.search"></div>
                        <small ng-bind-html="item.orgName | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
                <!-- <select ng-model="orgs" class="form-control" ng-options="x.orgName for x in groups" >-->

                </select>
            </div>
            <!--<div class="col-md-9">
               <select ng-model="orgs" class="form-control" required>
                   <option ng-repeat="x in groups" value="{{x}}">{{x.parentName}}-{{x.orgName}}</option>
                </select>
            </div>-->
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>姓名</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="user.realName" required>
            </div>
        </div>

      <!--  <div class="form-group">
            <div class="col-md-3">
                <label>工号</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="user.policeNum" name="policeNum" placeholder="可以不填"/>
            </div>
        </div>-->

        <div class="form-group">
            <div class="col-md-3">
                <label>布控地点</label>
            </div>

            <div class="col-md-9">
                <!-- <input type="text" class="form-control" ng-model="user.autoGraph">-->
                <select ng-model="user.autoGraph" class="form-control" required>
                    <option ng-repeat="x in locations" value="{{x.AttendanceLocationID}}">{{x.AttendanceLocationName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>注册照片</label>
            </div>

            <div class="col-md-9">
                <input type="file" file-model="myFile" nv-file-select uploader="uploader" accept="image/*" multiple>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>图片名</th>
                        <th>文件大小</th>
                        <th>进度</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>{{item._file.name}}</td>
                        <td>{{item._file.size}}B</td>
                        <td>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{item.progress}}%;">
                                </div>
                            </div>
                        </td>
                        <td nowrap>
                            <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> 上传
                            </button>
                            <button type="button" class="btn btn-info btn-xs" ng-click="item.cancel()"
                                    ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> 取消
                            </button>-->
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> 移除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button"  ng-click="addVm.submit()">提交
           <!-- ng-disabled="form.$invalid"-->
        </button>
        <button class="btn btn-warning" type="button" ng-click="addVm.cancel()">取消</button>
    </div>

</form>
<div  ng-show="wait" id="ld" style="position:absolute; left:-1px; top:1px; width:100%; height:100%; background-color:rgba(0,0,0,0.2); z-index:1000;">
    <div id="center" align="center" style="position:absolute;left:40%; top:40%;">

        <div class="form-group">
            <div class="col-md-9">

                <img src="/img/A3.gif">
            </div>
        </div>
    </div>
</div>