<link rel="stylesheet" href="../../../datatime/timepicker/css/bootstrap-datetimepicker.min.css">
<script src="../../../datatime/timepicker/bootstrap-datetimepicker.js"></script>
<script src="../../../datatime/timepicker/bootstrap-datetimepicker.fr.js"></script>
<script src="../../../Dist/vis.min.js"></script>
<link href="../../../Dist/vis.min.css" rel="stylesheet" type="text/css" />
<!--<script src="../../../Dist/timeline.min.js"></script>
<link href="../../../Dist/timeline.min.css" rel="stylesheet" type="text/css" />-->
<style type="text/css">
    body, html {
        font-family: sans-serif;
    }
</style>
<script type="text/javascript">
    /**
     * TimeLine相关变量
     */
        // DOM element where the Timeline will be attached


        // Create a DataSet (allows two way data-binding)


    // Configuration for the Timeline
   /* var items =( [
            {id: 1, content: 'item 1', start: '2018-03-29 22:09:20', end:'2018-03-29 22:59:16'},
        ]);
    var options = {
        min:'2018-03-29',
        max:'2018-03-30'
    };
    var container = document.getElementById('visualization');
    // Create a Timeline
    var timeline = new vis.Timeline(container, items, options);*/
</script>
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
    <div class="wrapper-md">
        <div class="col-md-1">

        </div>
        <div class="panel panel-default col-md-12">
            <div class="panel-heading" style="height: 100px;white-space: nowrap;">

                <ul class="nav  nav-pills pull-right">
                    <li style=" padding-top:4px; padding-right:4px;text-align: center;" >
                        <table>
                            <tr >
                                <td style="float: left">
                                    <div class="form-group" >
                                        <div class="col-md-4">
                                            <label style="width: auto;margin: 5px 0px" >组:</label>
                                        </div>

                                        <div class="col-md-7">
                                            <select ng-model="$parent.org1" class="form-control" ng-change="showCase.checkName()">
                                                <option ng-repeat="x in groups" value="{{x.parentName}}|{{x.orgName}}|{{x.id}}">{{x.parentName}}--{{x.orgName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group" >
                                        <div class="col-md-4">
                                            <label  style="width: auto;margin: 5px 0px" >日期:</label>
                                        </div>
                                        <div ng-model='timepickerTest1' ng-time-c
                                             class="input-group date form_date col-md-8" data-date=""
                                             data-date-format="yyyy-MM-dd" data-link-field="dtp_input1"
                                             data-link-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" value="" ng-model="$parent.Start">
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input1" value=""/>
                                    </div>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div  class="form-group" >
                                        <div class="col-md-4">
                                            <label style="width: auto;margin: 5px 0px">-&#45;&#45;</label>
                                        </div>
                                        <div ng-model='timepickerTest2' ng-time-c
                                             class="input-group date form_date col-md-8" data-date=""
                                             data-date-format="yyyy-MM-dd" data-link-field="dtp_input2"
                                             data-link-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" value="" ng-model="$parent.End">
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input2" value=""/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group" style="float:left; display:inline;">

                                        <div class="col-md-12">
                                            <button class="btn m-b-xs btn-sm btn-primary" style="margin: 0px 50px" ng-click="showCase.queryCamera()">查询
                                            </button>
                                           <!-- <button class="btn m-b-xs btn-sm btn-primary" style="margin: 0px 20px" ng-click="showCase.export_records()">导出记录
                                            </button>-->
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <div class="form-group" >
                                        <div class="col-md-4">
                                            <label style="width: auto;margin: 5px 0px" >姓名:</label>
                                        </div>

                                        <div class="col-md-7">
                                            <select ng-model="$parent.Name" class="form-control">
                                                <option ng-repeat="x in namelist" value="{{x.CollectId}}">{{x.realName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td >
                                    <ul style="list-style: none">
                                        <li class="col-md-4">
                                            迟到&nbsp;&nbsp;<input type="checkbox" ng-checked="" ng-click="showCase.updateSelectionOne($event,'迟到')" >&nbsp;&nbsp;&nbsp;
                                            早退&nbsp;&nbsp;<input type="checkbox" ng-checked="" ng-click="showCase.updateSelectionOne($event,'早退')" >&nbsp;&nbsp;&nbsp;
                                            旷工&nbsp;&nbsp;<input type="checkbox" ng-checked="" ng-click="showCase.updateSelectionOne($event,'旷工')" >&nbsp;&nbsp;&nbsp;
                                            加班&nbsp;&nbsp;<input type="checkbox" ng-checked="" ng-click="showCase.updateSelectionOne($event,'加班')" >
                                        </li>

                                       <!-- <li class="col-md-4 column">
                                            迟到<input type="checkbox" ng-checked="" ng-click="" >
                                        </li>
                                        <li class="col-md-4 column">
                                            迟到<input type="checkbox" ng-checked="" ng-click="" >
                                        </li>-->

                                    </ul>
                                </td>
                            </tr>
                        </table>

                    </li>

                </ul>
            </div>
            <div class="row wrapper" >

                <div style="height: 30px"></div>
                <div>
                    <form class="form-inline">
                        <table datatable id="DetectList" dt-dataset="dtDataset" dt-options="dtOptions"
                               dt-columns="dtColumns"
                               class="table table-striped table-bordered">
                        </table>
                    </form>
                </div>
            </div>

        </div>
        <div>
            <div id="visualization" ng-show="false" ng-time-line></div>
            <div id="visualizationNow" ng-time-line></div>
            <!--<div ng-time-line class="timeline-container timeline-theme-1">
                <div class="timeline js-timeline">
                    <div data-time="2017"> your content or markup </div>
                    <div data-time="2016"> your content or markup </div>
                    <div data-time="2015"> your content or markup </div>
                    <div data-time="2014"> your content or markup </div>
                    <div data-time="2013"> your content or markup </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

