
<form name="form" role="form" class="form-horizontal form-validation">
    <div class="modal-header">
        <h3 class="modal-title" align="center">编辑组信息</h3>
    </div>
    <div class="modal-body">



        <div class="form-group">
            <div class="col-md-3">
                <label>组名</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="gro.name" >
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button"  ng-click="editVm.submit()">提交</button>
        <button class="btn btn-warning" type="button" ng-click="editVm.cancel()">取消</button>
    </div>

</form>